
.env
README_local.md

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

temp.go
.gitbk
*gitbk
**/.env-test
logs
dbconfig.yml
main
gewu_jxc
temp
tmp
.DS_Store
**/.DS_Store
.idea
.vscode
node_modules
/.vercel_build_output
/.svelte-kit
/build
/dist
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*